.jumbotron {
}
.backdrop {
  height: 100%;
  background: #000000; /* fallback colour. Make sure this is just one solid colour. */
  background: url("../../assets/fem-back.jpeg");
  background: linear-gradient(rgb(49, 16, 49), rgb(87, 24, 87)),
    url("../../assets/fem-back.jpeg"); /* The least supported option. */
  background-size: cover;

  background-blend-mode: hard-light;
}

// thead {
//   font-size: 1rem;
//   background: black;
// }

// tbody {
//   background-color: black;
// }

.td-title {
  font-size: 1.2rem;
}
