<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text">thread title</span>
  </div>
  <input
    type="text"
    class="form-control"
    placeholder=""
    aria-label="thread Title"
    aria-describedby="basic-addon2"
  />
</div>

<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text">thread Description</span>
  </div>
  <textarea class="form-control" aria-label="With textarea"></textarea>
</div>
<div>https://www.npmjs.com/package/ngx-chips add chips</div>
<button type="submit" class="btn btn-primary">Add thread</button>
