<!-- <div class="px-4 py-5 my-5">
  <div class="backdrop"></div>
</div> -->

<div class="py-5">
  <div class="backdrop"></div>
</div>
<div class="container">
  <h1 class="mt-5">Founder's Story</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-5">
      <blockquote
        style="background-color: black; padding: 1rem"
        class="blockquote container"
      >
        <p class="mb-0">
          "Victims of sexual assault do not speak out because they want to, but
          because they need to or because it has affected their lives to such
          detriment, they are left with no other choice."
        </p>
        <footer class="blockquote-footer">
          NotInOurScene.com Founder -
          <cite title="Source Title">moths&Lanterns</cite>
        </footer>
      </blockquote>
    </div>
    <div class="col-sm-7">
      <p>
        I have been in the music scene for many years and have had to endure the
        unfortunate power dynamics of being a part of a community that strives
        for inclusion but is not immune to it's wholly white, heteronormative,
        male dominated roots. I have had opportunities thrown at me throughout
        the years. The sad underlying theme of these being from people who had
        more power than myself, each one with certain implications or coercion,
        making me feel like my currency for success was not only musical
        talents, but my sex appeal and body. I have been assaulted in the music
        scene and seen friends, queer or non, affected.
      </p>
    </div>
  </div>
</div>

<section>
  <div class="container">
    <div class="row text-center">
      <h1 class="mt-5">The Big Picture</h1>

      <p>
        The <a href="https://metoomvmt.org/" target="_blank">#MeToo </a>phrase
        was first coined in 2006 by Tarana Burke, an advocate for women in New
        York. ... Then, in 2017, the phrase was reintroduced by actress Alyssa
        Milano as a way to encourage women and men to share their stories as
        part of an anti-sexual harassment movement.
      </p>

      <p>
        During this time, The DIY punk scene was inspired; More abuse and
        injustice was called out in facebook groups, forums like deadformat, and
        google docs than ever before. However in 2021, there is no platform for
        the DIY community I could find where people can protect their
        communities.
      </p>
      <h1 class="mt-5">Our Mission</h1>

      <p>
        This is a safe space where users can contribute anonymously and voice
        their concerns. I'm done with the bullshit. Predators and enablers?
        Nope, #NotInOurScene.
      </p>
      <p>
        I have been in the music scene for many years and have had to endure the
        unfortunate power dynamics of being a part of a community that strives
        for inclusion but is not immune to it's wholly white, heteronormative,
        male dominated roots. I have had opportunities thrown at me throughout
        the years. The sad underlying theme of these being from people who had
        more power than myself, each one with certain implications or coercion,
        making me feel like my currency for success was not only musical
        talents, but my sex appeal and body. I have been assaulted in the music
        scene and seen friends, queer or non, affected.
      </p>
    </div>
  </div>
</section>
