<div class="backdrop" style="">
  <div class="container">
    <h1 class="mt-5">
      <div class="display-1 main-heading">
        <span class="line-1">NotIn</span><br /><span class="line-2"
          >OurScene</span
        >
      </div>
    </h1>

    <div class="lead">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8">
          <p class="lead">
            A platform for survivors of sexual assault or various forms of toxic
            abuse in the music scene.
            <a [routerLink]="['/about']">About</a>
          </p>

          <div class="row d-flex justify-content-start">
            <button
              type="button"
              class="btn btn-warning"
              data-toggle="modal"
              data-target="#login"
            >
              Login
            </button>

            <button
              type="button"
              class="btn btn-danger"
              data-toggle="modal"
              data-target="#signup"
            >
              Sign Up
            </button>
            <button
              class="nav-link"
              class="btn"
              routerLinkActive="active"
              [routerLink]="['threads']"
            >
              Continue To Threads Any Way
            </button>

            <button
              class="nav-link"
              class="btn"
              routerLinkActive="active"
              [routerLink]="['boards']"
            >
              Continue To Boards
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade bd-example-modal-lg"
  id="login"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Sign In</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <app-login></app-login>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade bd-example-modal-lg"
  id="signup"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Sign Up</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <app-login></app-login>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
